/* ListenerStyles.css */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputField {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.selectField {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.details {
    margin-top: 40px;
}

.detailItem {
    margin-bottom: 10px;
}

.stopButton {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stopButton:hover {
    background-color: darkred;
}
